# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
out/build/

[Bb][Uu][Ii][Ll][Dd]/

# Libs
libs/*

#  Vscode
.vscode/*

src/imgui/*.cpp
src/imgui/*.h
# Jetbrains files, dirs
.idea

# Custom
clion-build/*